<h1>STUDENT TESTING PAGE</h1>
<p>CAAAAAAAAAAAAAAATTSSSS</p>
<p>
 <%= button_to 'Logout', logout_path, method: :delete %>
</p>
<div class="item">
				<%= image_tag("cat6.jpg", :size => "500x500") %>
</div>