<h1>STUDENT TESTING PAGE</h1>
<% @user = User.find_by_id(session[:user_id]) %>

<h1>Welcome <%= @user.name%></h1>
<p>
    <%= button_to 'Logout', logout_path, method: :delete %>
</p>
<p>
    <%= button_to 'View/Add/Drop', courses_path(@user.id), method: :get %>
</p>
<div class="item">
	<%= image_tag("cat6.jpg", :size => "500x500") %>
</div>