<br>
<br><br />
<br>
<div data-role="page">
<body class="bs-docs-masthead" id="content" role="main">
	<div class="container">
		<h1>Advising Center Mobile</h1>
		<!-- <h1>Bootstrap</h1> -->
		<p class="lead">
			Welcome! 
		</p>
		<p id="action" class="lead">
			<a href="#modal-form" class="btn btn-outline-inverse btn-block"data-toggle="modal">Log In</a>
		</p>
	</div>
</body>
</div>
<%= render :partial => 'login_modal' %>

