<h1>ADVISOR TEST PAGE</h1>
<p>
	Find me in app/views/admin/index.html.erb
</p>
<div class="item">
	<%= button_to "Manage Users", users_path(), method: :get %>
</div>
<p>
	<%= button_to 'Logout', logout_path, method: :delete %>

</p>

<div class="item">
	<%= image_tag("cat5.jpg", :size => "500x500") %>
</div>

