<div class="modal fade" id='<%= "myModal_#{user.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel" style="color: black">Edit User</h4>
			</div>
			<div class="modal-body">
				<%= render 'users/formstudent', user: user %>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>