<h1>New user</h1>

<% @u = User.find_by_id(session[:user_id]) %>

<% if (@u.classification == "Admin") %>
	<%= render 'form' %>
<% else%>
	<%= render 'formstudent' %>
<%end%>

<%= link_to 'Back', users_path %>
