<h1>Links#link</h1>
<p>Find me in app/views/links/link.html.erb</p>
<a href="https://valdosta.edu"> To the VSU Homepage </a>

<a href="http://www.valdosta.edu/colleges/arts-sciences/math-cs/"> To the VSU CS Department </a>

