<% @courselist = Courselist.all() %>
<% @currentuser = User.find_by_id(session[:user_id]) %>
<% @sql1 = "SELECT CL.name, CL.hours FROM courselists CL EXCEPT SELECT C.name, C.hours FROM courses C WHERE (C.studentid = #{@currentuser.id} OR C.studentid = -1) EXCEPT SELECT DISTINCT X.name, X.hours FROM courselists X, courses C WHERE  X.prereq NOT IN(SELECT  CC.name FROM courses CC WHERE (CC.studentid = #{@currentuser.id} OR CC.studentid = -1))" %>
<% @sql2 = "SELECT CL.name, CL.hours FROM courses CL WHERE CL.studentid = #{@currentuser.id}" %>
<% result = ActiveRecord::Base.connection.raw_connection.prepare(@sql1) %>
<% result.execute() %>
<% result2 = ActiveRecord::Base.connection.raw_connection.prepare(@sql2) %>
<% result2.execute() %>
<% @filter_course_array = result %>
<% @second = result2 %>

<% @ccc =  Courselist.all%>

</script>
<table class="table table-striped table-bordered table-condensed">
	<div id="listb">
	<%= form_tag("/getcourse", :method => "post", :id => "courseupdate") do %>
	<%= select_tag "list", options_for_select(@filter_course_array), :multiple=>true %>
	</br>
	<div><%= submit_tag "Send Courses", :class => "btn btn-outline-inverse btn-block" %></div>
	<% end %>
	</div>
	<br>
</table>
<script>

	function loop() {
		var list=document.getElementById('bootstrap-duallistbox-selected-list_list[]');
		var array=new Array();
	for(var i=0;i<list.options.length;++i) {
	//if(list.options[i].selected)
	array[i]=list.options[i].text;
	}//end for
	//window.open("localhost:3000//controller/courses."+
	return array;
	}

	$("#courseupdate").submit(function(event) {
	/* stop form from submitting normally */
	event.preventDefault();
	/* clear result div */
	/* get values from elements on the page: */
	var values=loop();
	/* Send the data using post and put the results in a div */
	$.ajax({
	url:"/getcourse",type:"post",
	data: {param1:values},
	success: function(data,textStatus,xhr) {
			alert("Courses update successfully");
			history.go(0);   
	},error: function() {
				alert("Something went wrong...");
	}
	});
	});


	$(function() {
	$('#list').bootstrapDualListbox({
	bootstrap2Compatible:false,moveAllLabel:'MOVE ALL',removeAllLabel:'REMOVE ALL',moveSelectedLabel:'MOVE SELECTED',removeSelectedLabel:'REMOVE SELECTED',filterPlaceHolder:'FILTER',filterSelected:'2',filterNonSelected:'1',moveOnSelect:false,preserveSelectionOnMove:'all',helperSelectNamePostfix:'_myhelper',selectedListLabel:'Your Choices',nonSelectedListLabel:'Available Classes'
	}).bootstrapDualListbox('setRemoveAllLabel','Reset choices').bootstrapDualListbox('setSelectedFilter',undefined).bootstrapDualListbox('setNonSelectedFilter',undefined).bootstrapDualListbox('refresh')
	});
</script>
</body>

