<div id="modal-form" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">


				<h2 class="modal-title" id="myModalLabel" style="color: black">Edit Course!</h2>

			</div>
			<div class="modal-body">
				<%= render :partial => 'edit' %>
			</div>
		</div>
	</div>
</div>

