<div class="form-horizontal">
	
	<p>
		<strong>Name:</strong>
		<%= course.name %>
	</p>

	<p>
		<strong>Hours:</strong>
		<%= course.hours %>
	</p>

	<p>
		<strong>Prereq:</strong>
		<%= course.prereq %>
	</p>
</div>