// Place all the styles related to the Advising controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
 height: 100%;
 background: #fffa66;
}

#banner {
background: #750000;
 padding: 10px;
 border-bottom: 2px solid;
 font: small-caps 40px/40px "Times New Roman", serif;
 color: #e0da00;
 text-align: center;
 height: 2em; //This is hardcoded may need to adjust as time goes by --Ilya
 img {
 float: left;
 
 }
 }
 
 #Button1{
   color: #750000;
   width: 100px;
   height: 25px;
   font: small-caps 20px/20px "Times New Roman", serif;
  text-align: center;
   background-color: #fffa66;
   
 }
 
  #Text{
   color: #750000;
   width: 200px;
   height: 25px;
   font: 20px/20px "Times New Roman", serif;
  text-align: center;
   background-color: #fffa66;
   
 }

 #links {
background: #750000;
 padding: 10px;
 border-bottom: 2px solid;
 font: small-caps 30px/30px "Times New Roman", serif;
 color: #e0da00;
 text-align: center;
 }
 


 #notice {
 color: #000 !important;
 border: 2px solid red;
 padding: 1em;
 margin-bottom: 2em;
 background-color: #f0f0f0;
 font: bold smaller sans-serif;
 }

 #columns {
 background: #750000;
 width: 13em;

 .main {
  width: 25em;
   font: small-caps 30px/30px "Times New Roman", serif;
 

 margin-left: 17em;
 padding: 1em;
 height: 12em;
 background: #fffa66;
 
}

 #side {
 float: left;
 padding: 1em 2em;
 width: 13em;
 height: 50em;
background: #750000;

 ul {
 padding: 0;
 li {
 list-style: none;
 a {
 color: #e0da00;
 font-size: small;
 }
 }
 }
 }
 }